# Logs
logs/
LOGS/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
.github
.vs
docs
x64/
vcpkg_installed/
intermediate/

# Third-party dependencies (do not commit)
third_party/